h1 {
    color: #0275d8;
}

/* Stylize grid boxes */
.box {
    border: 1px solid #000;
    font-size: 85px;
    text-align: center;
    line-height: 100px;
	text-align: center;
	width: 100px;
    height: 100px;
    color:#E33CC7;
}

.box:hover {
    background-color: #F8F786;
}

body {
    background-color: #F5F474;
    font-family: 'DynaPuff', cursive;
}

#button {
    margin:auto;
    display:block;
}


.winner {
    color:#FFAA47;
}

/* 
Color scheme
blue: 2DDFFF
pink: E33CC7
orange: FFAA47
red: F54D28 */